# Ignore Value Change Dump files
*.vcd

# Ignore .cf files
*.cf

# Ignore GTKWave Analyzer files
*.gtkw

# # Ignore bash scripts since file paths change depending on user
# *.sh

# Ignore build and memory files files
 ../asm_tests/mem_dump/*
../asm_tests/build/*

# Ignore temporary files
~*

HW1/
HW4/