# Ignore Value Change Dump files
*.vcd

# Ignore .cf files
*.cf

# Ignore GTKWave Analyzer files
*.gtkw

# # Ignore bash scripts since file paths change depending on user
# *.sh

# Ignore build and memory files files
dump[0-9].txt
build_mem[0-9]*.txt

# Ignore temporary files
~*

HW1/